<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <!-- AlpineJs CDN -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
  <!-- Bulma CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body class="p-5">
  <div x-data="{ name: 'hello' }">
    <p x-text="name" class="is-size-4"></p>
    <button class="button is-primary mt-4" @click="name = 'Hello, Alpine!'">Change Text</button>
  </div>
  <div x-data="greeting">
    <p x-text="name" class="is-size-4" x-transition.opacity></p>
    <button class="button is-primary mt-4" @click="updateText()">Change Text</button>
  </div>


  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data("greeting", () => ({
        name: "hello",
        updateText() {
          this.name = "Hello, Alpine!";
        },
      }));
    });

  </script>
</body>

</html>